In [52]:
import pandas as pd
import os

In [53]:
path = os.getcwd()
path

'C:\\Users\\b1005\\langchain'

In [54]:
predict = pd.read_csv("gpt_predict_v2.csv", encoding="utf-8-sig")
predict

                                                   text  label
0     내년에 네이버 게임회사 같은데서 사람 엄청 뽑드만. 이럴 줄 알았음 공대를 갈것을 ...      9
1     여자가 아이를 돌보고 남자가 밖에서 돈을 벌어온다' 다 옛날 말이죠. 요즘은 다 반...      4
2     오베라는 남자'라는 책에서 부인의 신체 변화에 따라 남편인 주인공, 오베가 차를 바...      9
3                                10년동안 일한 보람이 드디어 생기나보네      9
4                                      10대들은 모르는 추억의 노래      9
...                                                 ...    ...
3794                                일본놈들이 하는 짓이 다 그렇지 뭐      3
3795  오잉? 저게 이쁘다는거야? 장님이야뭐야 눈이 어떻게 된거야? 없는거야? 눈어디갔니?...      0
3796  아니 왜 이렇게 태웠어? 팔다리만 길어가지고 배만 툭튀어나온게 까맣게 태우니까 흑인...      3
3797                                한녀들, 김치녀들 취집가려고 한다.      4
3798                                대졸이상 아니면  공부했다고 하지마      0

[3799 rows x 2 columns]

In [55]:
df = pd.read_excel("APEACH_데이터_라벨링완료v1.xlsx")
df

,text,is_immoral,label_words,label_numbers
0,내년에 네이버 게임회사 같은데서 사람 엄청 뽑드만. 이럴 줄 알았음 공대를 갈것을 ...,True,['Education'],[0]
1,여자가 아이를 돌보고 남자가 밖에서 돈을 벌어온다' 다 옛날 말이죠. 요즘은 다 반...,True,['Gender sterotypes'],[4]
2,"오베라는 남자'라는 책에서 부인의 신체 변화에 따라 남편인 주인공, 오베가 차를 바...",True,['Disabled'],[6]
3,10년동안 일한 보람이 드디어 생기나보네,True,['Age and social status'],[7]
4,10대들은 모르는 추억의 노래,True,['Age and social status'],[7]
...,...,...,...,...
3765,일본놈들이 하는 짓이 다 그렇지 뭐,False,['Racism'],[3]
3766,오잉? 저게 이쁘다는거야? 장님이야뭐야 눈이 어떻게 된거야? 없는거야? 눈어디갔니?...,False,['Appearance'],[0]
3767,아니 왜 이렇게 태웠어? 팔다리만 길어가지고 배만 툭튀어나온게 까맣게 태우니까 흑인...,False,"['Appearance','Racism']","[0,3]"
3768,"한녀들, 김치녀들 취집가려고 한다.",False,['Gender sterotypes'],[4]
3769,대졸이상 아니면 공부했다고 하지마,False,['Education'],[0]

In [56]:
df['is_immoral'] = ~df['is_immoral']
df

,text,is_immoral,label_words,label_numbers
0,내년에 네이버 게임회사 같은데서 사람 엄청 뽑드만. 이럴 줄 알았음 공대를 갈것을 ...,False,['Education'],[0]
1,여자가 아이를 돌보고 남자가 밖에서 돈을 벌어온다' 다 옛날 말이죠. 요즘은 다 반...,False,['Gender sterotypes'],[4]
2,"오베라는 남자'라는 책에서 부인의 신체 변화에 따라 남편인 주인공, 오베가 차를 바...",False,['Disabled'],[6]
3,10년동안 일한 보람이 드디어 생기나보네,False,['Age and social status'],[7]
4,10대들은 모르는 추억의 노래,False,['Age and social status'],[7]
...,...,...,...,...
3765,일본놈들이 하는 짓이 다 그렇지 뭐,True,['Racism'],[3]
3766,오잉? 저게 이쁘다는거야? 장님이야뭐야 눈이 어떻게 된거야? 없는거야? 눈어디갔니?...,True,['Appearance'],[0]
3767,아니 왜 이렇게 태웠어? 팔다리만 길어가지고 배만 툭튀어나온게 까맣게 태우니까 흑인...,True,"['Appearance','Racism']","[0,3]"
3768,"한녀들, 김치녀들 취집가려고 한다.",True,['Gender sterotypes'],[4]
3769,대졸이상 아니면 공부했다고 하지마,True,['Education'],[0]

In [57]:
df['label_numbers'] = df['label_numbers'].str.replace(r'\[|\]', '', regex=True)
df

,text,is_immoral,label_words,label_numbers
0,내년에 네이버 게임회사 같은데서 사람 엄청 뽑드만. 이럴 줄 알았음 공대를 갈것을 ...,False,['Education'],0
1,여자가 아이를 돌보고 남자가 밖에서 돈을 벌어온다' 다 옛날 말이죠. 요즘은 다 반...,False,['Gender sterotypes'],4
2,"오베라는 남자'라는 책에서 부인의 신체 변화에 따라 남편인 주인공, 오베가 차를 바...",False,['Disabled'],6
3,10년동안 일한 보람이 드디어 생기나보네,False,['Age and social status'],7
4,10대들은 모르는 추억의 노래,False,['Age and social status'],7
...,...,...,...,...
3765,일본놈들이 하는 짓이 다 그렇지 뭐,True,['Racism'],3
3766,오잉? 저게 이쁘다는거야? 장님이야뭐야 눈이 어떻게 된거야? 없는거야? 눈어디갔니?...,True,['Appearance'],0
3767,아니 왜 이렇게 태웠어? 팔다리만 길어가지고 배만 툭튀어나온게 까맣게 태우니까 흑인...,True,"['Appearance','Racism']","0,3"
3768,"한녀들, 김치녀들 취집가려고 한다.",True,['Gender sterotypes'],4
3769,대졸이상 아니면 공부했다고 하지마,True,['Education'],0

In [58]:
def process_labels(row):
    if row['is_immoral']:
        # True인 경우 기존 로직 적용
        return row['label_numbers']
    else:
        # False인 경우 [9]로 설정
        return 9

In [59]:
df['label_numbers'] = df.apply(process_labels, axis=1)
df

,text,is_immoral,label_words,label_numbers
0,내년에 네이버 게임회사 같은데서 사람 엄청 뽑드만. 이럴 줄 알았음 공대를 갈것을 ...,False,['Education'],9
1,여자가 아이를 돌보고 남자가 밖에서 돈을 벌어온다' 다 옛날 말이죠. 요즘은 다 반...,False,['Gender sterotypes'],9
2,"오베라는 남자'라는 책에서 부인의 신체 변화에 따라 남편인 주인공, 오베가 차를 바...",False,['Disabled'],9
3,10년동안 일한 보람이 드디어 생기나보네,False,['Age and social status'],9
4,10대들은 모르는 추억의 노래,False,['Age and social status'],9
...,...,...,...,...
3765,일본놈들이 하는 짓이 다 그렇지 뭐,True,['Racism'],3
3766,오잉? 저게 이쁘다는거야? 장님이야뭐야 눈이 어떻게 된거야? 없는거야? 눈어디갔니?...,True,['Appearance'],0
3767,아니 왜 이렇게 태웠어? 팔다리만 길어가지고 배만 툭튀어나온게 까맣게 태우니까 흑인...,True,"['Appearance','Racism']","0,3"
3768,"한녀들, 김치녀들 취집가려고 한다.",True,['Gender sterotypes'],4
3769,대졸이상 아니면 공부했다고 하지마,True,['Education'],0

In [60]:
# df['label_numbers'] = df['label_numbers'].apply(lambda x: int(x.strip("[]")) if isinstance(x, str) and x.strip("[]").isdigit() else None)

In [61]:
df['predicted'] = predict['label']
df

,text,is_immoral,label_words,label_numbers,predicted
0,내년에 네이버 게임회사 같은데서 사람 엄청 뽑드만. 이럴 줄 알았음 공대를 갈것을 ...,False,['Education'],9,9
1,여자가 아이를 돌보고 남자가 밖에서 돈을 벌어온다' 다 옛날 말이죠. 요즘은 다 반...,False,['Gender sterotypes'],9,4
2,"오베라는 남자'라는 책에서 부인의 신체 변화에 따라 남편인 주인공, 오베가 차를 바...",False,['Disabled'],9,9
3,10년동안 일한 보람이 드디어 생기나보네,False,['Age and social status'],9,9
4,10대들은 모르는 추억의 노래,False,['Age and social status'],9,9
...,...,...,...,...,...
3765,일본놈들이 하는 짓이 다 그렇지 뭐,True,['Racism'],3,6
3766,오잉? 저게 이쁘다는거야? 장님이야뭐야 눈이 어떻게 된거야? 없는거야? 눈어디갔니?...,True,['Appearance'],0,0
3767,아니 왜 이렇게 태웠어? 팔다리만 길어가지고 배만 툭튀어나온게 까맣게 태우니까 흑인...,True,"['Appearance','Racism']","0,3",3
3768,"한녀들, 김치녀들 취집가려고 한다.",True,['Gender sterotypes'],4,3
3769,대졸이상 아니면 공부했다고 하지마,True,['Education'],0,0

In [62]:
data = {
    'label': df['label_numbers'],
    'predicted': predict['label']
}
df_test = pd.DataFrame(data)
df_test

     label  predicted
0        9          9
1        9          4
2        9          9
3        9          9
4        9          9
...    ...        ...
3794   NaN          3
3795   NaN          0
3796   NaN          3
3797   NaN          4
3798   NaN          0

[3799 rows x 2 columns]

In [65]:
df_test = df_test.dropna()

In [67]:
df_test['label'] = df_test['label'].apply(lambda x: int(x.split(',')[0]) if isinstance(x, str) else x)
df_test['predicted'] = df_test['predicted'].apply(lambda x: int(x.split(',')[0]) if isinstance(x, str) else x)

# 정수 비교
df_test['correct'] = df_test['label'] == df_test['predicted']
df_test

C:\Users\b1005\AppData\Local\Temp\ipykernel_3584\3280404751.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['label'] = df_test['label'].apply(lambda x: int(x.split(',')[0]) if isinstance(x, str) else x)
C:\Users\b1005\AppData\Local\Temp\ipykernel_3584\3280404751.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['predicted'] = df_test['predicted'].apply(lambda x: int(x.split(',')[0]) if isinstance(x, str) else x)
C:\Users\b1005\AppData\Local\Temp\ipykernel_3584\3280404751.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['correct'] = df_test['label'] == df_test['predicted']

      label  predicted  correct
0         9          9     True
1         9          4    False
2         9          9     True
3         9          9     True
4         9          9     True
...     ...        ...      ...
3765      3          6    False
3766      0          0     True
3767      0          3    False
3768      4          3    False
3769      0          0     True

[3770 rows x 3 columns]

In [68]:
accuracy = df_test['correct'].mean()
print(f"정확도: {accuracy * 100:.2f}%")

정확도: 42.65%

In [69]:
correct_count = df_test['correct'].sum()
incorrect_count = len(df) - correct_count
print(f"정확히 분류된 샘플 수: {correct_count}")
print(f"잘못 분류된 샘플 수: {incorrect_count}")

정확히 분류된 샘플 수: 1608
잘못 분류된 샘플 수: 2162

In [70]:
class_accuracy = df_test.groupby('label')['correct'].mean()
class_accuracy

label
0    0.320635
2    0.000000
3    0.270130
4    0.224215
5    0.076923
6    0.077381
7    0.071809
8    0.000000
9    0.669164
Name: correct, dtype: float64